body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
  /* Enlaza la tipografia Open Sans */
    font-family: 'Raleway', sans-serif;
}
.flex-container{
	display: flex;
}
/* container */

.menu-superior{
	position: fixed;
	background-color: #2C3E50;
	width: 100%;
    height: 100px;
    display: flex;
}
.title{
    color: white;
}
#menu{
	display: inline-flex;
    margin: auto;
    width: 100%;
    justify-content: space-around;
}
#menu .title h1{
	margin: 0;
}
.botonera{
	display: inline-flex;
}
#botones.botonera a{  
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    margin-right: 10px;
    line-height: 3;
}

/* perfil */
.perfil {
	justify-content: center;
	padding-top: 100px; 
	width: 100%;
	height: 700px;
	background-color: #18BC9C;
	color: white;

}
.perfil{
	display: flex; 
	flex-direction: column;
/*	align-items: center;*/
	text-align: center;
}

/* portafolio */
.portafolio{
	width: auto;
	padding: 0 0 5%;
}
.portafolio .flex-container{
	background-color: white;
	height: 950px;
	width: 100%;
	font-weight: bold;
}
#estrellaAzul{
	display: flex;
	width: 12%;
	height: 4%;
}
.title2 h2{
	margin: 0px;
}
.title2{

	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5% 0;	
}
.title2 img{
	align-items: center;
}

#uno img{
	width: 31%;
    padding: 1%;
    margin: auto;
}
.pictures{
	display: flex;
    width: 100%;
    flex-wrap: wrap;
}

/* about */
#formulario{
	width: 60%;
	padding-bottom: 10%;
}
.about{
	display: flex;
<<<<<<< HEAD
	flex-direction: column;
	justify-content: center;
	 
	width: 100%;
	height: 450px;
	background-color: #18BC9C;
	color: white;
	margin-bottom: 9%;
}
.about{
	justify-content: center;
	align-items: center;
=======
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #18BC9C;
    color: white;
    align-items: center;
    padding: 2% 0;
>>>>>>> 08fb3e0a16cf9160e9d7301a121d16e020b963d6
}
#estrella4 .contacto{
	display: flex;
	justify-content: center;
	width: 15%;
	height: 6%;
}
#formulario h1 {
	
	display: flex;	
	justify-content: center;
}
img#estrella4{	
	display: flex;	
	justify-content: center;
	text-align: center;
	    padding-left: 38%;
}
.about h1 p{
	width: 70%;
	display: flex;	
	flex-direction: column;
	justify-content: center;
}
.textos{
	display: flex;
	justify-content: center;
}
#parrafo1{
	display: inline-flex;
	width: 30%;
	padding: 0 2%;
	font-size: 15px;
    text-align: justify;
    word-break: break-all;
}
#parrafo2{
	display: inline-flex;
	width: 30%;
	padding: 0 2%;
	font-size: 15px;
    text-align: justify;
    word-break: break-all;
}

.downloadTheme{
<<<<<<< HEAD
	display: inline-flex;
	width: 10%;
	padding: 1%;
	text-align: center;	
	font-family: sans-serif;

	border: 2px solid white;
	-webkit-border-radius: 10px 10px 10px 10px;

}
.contact{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	width: 100%;
	height: 500px;
}

.informacion{
	display: flex;
	flex-direction: column;

}
.informacion a{
	display: flex;
	justify-content: center;
	align-items: center;


}
.contact hr{
	width: 100%;
}
.contact input{
	display: flex;
	align-items: center;
	width: 100%;
	border: none;
	font-size: 90%;
	padding-top: 2%;
	padding-bottom: 2%;
}
input#area-texto{
	margin-bottom: 30px;
}
.butons{
	border: 2px solid #18BC9C;
	width: 5%;
	-webkit-border-radius: 10px 10px 10px 10px;
	background-color: #18BC9C;
	padding-left: 1%;
}
.contact a{
	text-align: left;
	color: white;
	width: 100%;
	justify-content: flex-start;
	
}

/* footer */
footer{
	height: 260px;
	background-color: #2C3E50;
}
.end{
	display: flex;
	width: 100%
	height: 400px;
	background-color: #425b75;
	color: white;
	justify-content: space-around;
	padding-bottom: 5%;
}
.end .ubicacion{
	display: inline-flex;
	flex-direction: column;
}
.end .redes{
	flex-direction: column;
	text-align: center;
}
.end a{
		border: 1px solid white;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	padding: 2%;
}
.fa{
	display: inline-flex;
	flex-direction: row;
	text-align: center;
	justify-content: center;
	font-size: 20px;


}
.end .information{
	display: inline-flex;
	flex-direction: column;
	text-align: center;
}
.end p{
	margin: 0px;
}

/* last end */
.lastext{
	display: flex;
	justify-content: center;
}
.lastext p{
	color: white
=======
/*	display: inline-flex; */
    width: auto;
    padding: 10px;
    /* text-align: center; */
    border: 2px solid white;
    font-family: sans-serif;
}
section.contact{
	text-align: center;
	padding-bottom: 5%;
}
section.contact form.informacion{
    padding-bottom: 2%;
}
section.contact input{
	display: block;
    margin: auto;
    border-left: #fff;
    border-right: #ffff;
    height: 50px;
    width: 50%;
    padding-left: 35px;
    font-size: 17px;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}
section.contact input:last-child{
	padding-bottom: 5%;
}
section.contact a{
    color: #fff;
    background-color: #18BC9C;
    text-decoration: none;
    box-shadow: 0 0 black;
    width: 50px;
    padding: 10px 20px;
    border-radius: 3px;
}

footer{
    background-color: #2C3E50;
/*    display: flex;*/
    color: #fff;
    justify-content: center;
    text-align: center;
}
footer .info-us{
    width: 80%;
    margin: auto;
    display: flex;
}
footer .info-us .web{
/*	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;*/
}
footer .info-us .web img{
    width: 40px;
}
footer .location, footer .web, footer .about-free {
	width: 30%;
/*    display: inline-flex;*/
/*    flex-direction: column;*/
    display: inline-block;
}
footer .about-free p span{
	color: #18BC9C;
}
footer p {
	margin:0;
}
footer .end{
    width: 100%;
    font-size: 10px;
    padding: 15px 0;
    background-color: #172029;
    margin-top: 30px;
>>>>>>> 08fb3e0a16cf9160e9d7301a121d16e020b963d6
}